#root {
    overflow: hidden;
    margin: auto;
    width: 85%;
    max-width: 1200px;
    height: 85%;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    /* 宽度小于1000px */
    @media screen and (max-width: 840px) {
        width: 100%;
        height: 100%;
    }
}
